.nav-link.active > .green {
  color: lightgreen !important;
}
.nav-link.active > .yellow {
  color: #fff176 !important;
}

#navigation {
  background: white;
  width: 100vw;
}

.nav-box {
  height: 50px;
  position: sticky;
  bottom: 0;
}
